html{
	background-color: #87cefa;
}
body>h1{
	text-align: center;
	color: #0000cd;
}

#user_id{
	height: 20px;
	text-align: center;
}

#password{
	height: 20px;
	text-align: center;
}


#loginBtn{
	width: 130px;
	height: 20px;
	margin-top: 10px;
	background-color: coral;
	padding: 3px;
}
